<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Find out about my professional and personal experiences.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4></h4> -->
                                    <a href="/professionalprofile"> 
                                    <h4 class="subheading">Career Path</h4>
                                </a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Discovery my professional experience and achievements!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4></h4> -->
                                    <a href="/education"> 
                                    <h4 class="subheading">Education</h4>
                                    </a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Academic preparation and certifications!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4></h4> -->
                                    <a href="/colaborations"> 
                                    <h4 class="subheading">Colaborations</h4>
                                </a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Contributions with the community, colleagues and friends!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4></h4> -->
                                    <a href="/blog_home"> 
                                    <h4 class="subheading">Personal Blog</h4>
                                </a>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ideas, reflections, thoughts and more!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>