<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Love what you do.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cc fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">IT Consulting</h4>
                <p class="text-muted">More than 15 years of experience working along with international companies for
                    sectors such as technology, banking and consulting.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Design</h4>
                <p class="text-muted">Create and design professional contents for your business with a strong corporate
                    image.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Social Media Management</h4>
                <p class="text-muted">Reach more clients and engagement online thought social media networks and
                    website. Promote your business effectively.</p>
            </div> 
        </div>
        <!-- Two more services  -->
<!--         <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Photography</h4>
                <p class="text-muted">Create and prepare professional contents for your site with own photos and
                    designs.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Photography</h4>
                <p class="text-muted">Create and prepare professional contents for your site with own photos and
                    designs.</p>
            </div>
        </div> -->
    </div>
</section>