---
layout: base
---

<div id="content" class="site-content">

  <div class="container">
    <div class="row">
      <!-- <div class="post-feed"> -->

      {% for post in site.posts %}
      <h2><a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title }}</a></h2>
      <article class="post">

        {% if post.subtitle %}
        <h5 class="post-subtitle">
          {{ post.subtitle }}
        </h5>
        {% endif %}
        <!--  <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div> -->

        <div class="post-content">
          <p>{{ post.excerpt }}</p>
        </div>

        <p class="read-more">
          <a class="read-more-link"
            href="{{ post.url | relative_url }}">{{ site.data.translations['readPosts'][page.lang] }}<span
              class="icon-arrow-right" aria-hidden="true"></span></a>
        </p>
      </article><!-- .post -->
      {% endfor %}
      <!-- </div> .post-feed -->

    </div>
  </div>
</div><!-- .site-content -->