---
layout: body
---

<div id="page" class="post">

  <article>

    <div class="container">
      <div class="row">
        <!-- Post Container -->
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
          <h1 class="post-title">{{ page.title }}</h1>
          {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
          {% if subtitle_is_not_empty %}
          <div class="post-subtitle">
            {{ page.subtitle }}
          </div><!-- .post-subtitle -->
          {% endif %}

          {{ content }}

        </div>
      </div>
    </div>
  </article>

</div><!-- .site-content -->