---
layout: body
---

<div id="content" class="site-content">
  <main id="main" class="site-main inner">

    <article class="post post-full">

      <div class="container">
        <div class="row">
          <!-- Post Container -->
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">

            <h1 class="post-title">{{ page.title }}</h1>
            {% assign thumb_img_path_is_not_empty = page.thumb_img_path | is_not_empty %}
            {% if thumb_img_path_is_not_empty %}
            <a class="post-thumbnail" href="{{ page.url | relative_url }}">
              <img class="thumbnail" src="{{ page.thumb_img_path | relative_url }}" alt="{{ page.title }}" />
            </a>
            {% endif %}

            {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
            {% if subtitle_is_not_empty %}
            <div class="post-subtitle">
              {{ page.subtitle }}
            </div><!-- .post-subtitle -->
            {% endif %}

            {{ content }}

          </div>
        </div>
      </div>
    </article><!-- .post -->

    <!-- Next/previous post navigation -->
    <!-- -->
    <nav class="post-navigation">
      <!-- <h2 class="post-nav-title"> Continuar leyendo:</h2> -->
      <h2 class="post-nav-title">{{ site.data.translations['relatedPosts'][page.lang] }}:</h2>
      <div class="grid-container">

        <div class="previous">
          {% if page.previous.url %}
          <a href="{{page.previous.url}}" rel="bookmark">&laquo; {{page.previous.title}}</a>
          {% endif %}
        </div>
        <div class="next">
          {% if page.next.url %}
          <a href="{{page.next.url}}" rel="bookmark"> {{page.next.title}} &raquo;</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- -->
  </main><!-- .site-main -->

</div><!-- .site-content -->